.containe{
	background-image: url('../img/bground.jpg')
}
.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.bal{
	height: 50px;
}
.nav, .nav-pills, .flex-column, .flex-sm-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover{
	background-color: #68000d;
}
.ss{
  display: flex;
  justify-content: center;
}
.carousel-inner{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.bo{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
    align-items: center;
    padding-top: 70px;
}
.box{
	background-image: url('../img/player/mshtegen.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box1{
	background-image: url('../img/player/nsemedo.png');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;

}
.box2{
	background-image: url('../img/player/pique.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;

}
.box3{
	background-image: url('../img/player/rakit.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box4{
	background-image: url('../img/player/sergio.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;

}
.boxte{
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 255, 0.5); /* Black see-through */ 
	width: 100%;
	transition: 1.5s ease;
	color: white;
	font-size: 25px;
	opacity: 0;
	padding: 40px;
}
.boxte1{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.5); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte2{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.5); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte3{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.5); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte4{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.5); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.box:hover .boxte {
  opacity: 1;
}
.box1:hover .boxte1 {
  opacity: 1;
}
.box2:hover .boxte2 {
  opacity: 1;
}
.box3:hover .boxte3 {
  opacity: 1;
}
.box4:hover .boxte4 {
  opacity: 1;
}