.containe{
	background-image: url('../img/istor/bgro.jpg');
	background-size: cover;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.containe111{
	background-image: url('../img/istor/bgro.jpg');
	background-size: cover;
	position: fixed;
	width: 100%;
	z-index: 100;
	margin-top: -53px;
}
.containekontakti{
	background-image: url('../img/istor/bgro.jpg');
	background-size: cover;
	position: fixed;
	width: 100%;
	z-index: 100;
	margin-top: -53px;
}
.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	background-color: #313332;
}
.bal{
	height: 50px;
}
.nav, .nav-pills, .flex-column, .flex-sm-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover{
	background-color: #68000d;
}
.ss{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.carousel-inner{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.bbb{
	background-image: url('../img/istor/bgro.jpg');
	background-size: contain;
}
.bo{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
    align-items: center;
    padding-top: 70px;
    background-image: url('../img/29774.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
   }
.box{
	background-image: url('../img/player/mshtegen.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box1{
	background-image: url('../img/player/nsemedo.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;

}
.box2{
	background-image: url('../img/player/pique.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;

}
.box3{
	background-image: url('../img/player/rakit.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box4{
	background-image: url('../img/player/sergio.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box5{
	background-image: url('../img/player/todibo.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box6{
	background-image: url('../img/player/coutinho.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box7{
	background-image: url('../img/player/artur.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box8{
	background-image: url('../img/player/suarez.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box9{
	background-image: url('../img/player/messi.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box10{
	background-image: url('../img/player/dembele.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box11{
	background-image: url('../img/player/rafinha.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box12{
	background-image: url('../img/player/neto.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box13{
	background-image: url('../img/player/malcom.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box14{
	background-image: url('../img/player/lenglet.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box16{
	background-image: url('../img/player/grizmane.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box17{
	background-image: url('../img/player/alba.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box18{
	background-image: url('../img/player/alenia.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box19{
	background-image: url('../img/player/roberto.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box20{
	background-image: url('../img/player/jong.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box21{
	background-image: url('../img/player/vidal.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.box22{
	background-image: url('../img/player/umtiti.jpg');
	height: 400px;
	width: 400px;
	background-size: cover;
	position: relative;
	margin-bottom: 50px;
}
.boxte{
	position: absolute;
	bottom: 0;
	background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
	width: 100%;
	transition: 1.5s ease;
	color: white;
	font-size: 25px;
	opacity: 0;
	padding: 40px;
}
.boxte1{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte2{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte3{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte4{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte5{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte6{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte7{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte8{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte9{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte10{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte11{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte12{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte13{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte14{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte16{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte17{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte18{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte19{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte20{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte21{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte22{
	position: absolute;
	bottom: 0;
  background: rgba(0, 0, 255, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.boxte23{
	position: absolute;
	bottom: 0;
  background: rgba(152, 11, 6, 0.9); /* Black see-through */ 
  width: 100%;
  transition: 1.5s ease;
  color: white;
  font-size: 25px;
  opacity: 0;
  padding: 40px;
}
.box:hover .boxte {
  opacity: 1;
}
.box1:hover .boxte1 {
  opacity: 1;
}
.box2:hover .boxte2 {
  opacity: 1;
}
.box3:hover .boxte3 {
  opacity: 1;
}
.box4:hover .boxte4 {
  opacity: 1;
}
.box5:hover .boxte5 {
  opacity: 1;
}
.box6:hover .boxte6 {
  opacity: 1;
}
.box7:hover .boxte7 {
  opacity: 1;
}
.box8:hover .boxte8 {
  opacity: 1;
}
.box9:hover .boxte9 {
  opacity: 1;
}
.box10:hover .boxte10 {
  opacity: 1;
}
.box11:hover .boxte11 {
  opacity: 1;
}
.box12:hover .boxte12 {
  opacity: 1;
}
.box13:hover .boxte13 {
  opacity: 1;
}
.box14:hover .boxte14 {
  opacity: 1;
}
.box16:hover .boxte16 {
  opacity: 1;
}
.box17:hover .boxte17 {
  opacity: 1;
}
.box18:hover .boxte18 {
  opacity: 1;
}
.box19:hover .boxte19 {
  opacity: 1;
}
.box20:hover .boxte20 {
  opacity: 1;
}
.box21:hover .boxte21 {
  opacity: 1;
}
.box22:hover .boxte22 {
  opacity: 1;
}
.box23:hover .boxte23 {
  opacity: 1;
}
.kont{
	display: flex;
	justify-content: center;
}
.kontak{
	margin-top: 53px;
	background-image: url('../img/istor/bgro.jpg');
	background-size: cover;
}
 .inpbox{
	max-width: 1280px;
	width:100%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
	margin-bottom: 20px;
}
.inpbox  input{
	width: 400px;
	padding: 10px 30px;
    border: 2px solid #960a0a;
    margin-left: 20px;
}
textarea{
    resize: none;
    border: 2px solid #960a0a;
    padding-right: 800px;

}
.h21{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	font-size: 24px;
	font-weight: bold;
}
.h31{
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}
.gagz{
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.imgsoc{
	height: 40px;
	background-color: white;
}
.sociali{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.fot{
	background-color: #626262;
	padding: 5px;
}
.foot{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.foot1{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
    text-align: right;
}
.bob{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
    background-color: white; 
   }
.maincont{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	background-color: white;
	margin-top: 53px;
}
.hi1{
	font-size: 30px;
	font-weight: bold;
	padding-left: 50px;
    padding-top: 50px;
}
.hi2{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	padding-top: 30px;
    padding-bottom: 20px;
}
.imi1{
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pi1{
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	line-height: 20px;
}
.foni{
	background-image: url('../img/istor/bgro.jpg');
	background-size: contain;
}